<!DOCTYPE html>
<html>
<head>
  <title>OmniauthSample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# twitter login %>
<div id="user_nav">
  <%#= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
</div>

<%= yield %>

</body>
</html>
